/*#region common*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed black;
}

:root{
    --blz-chat: #eaeaeaFF;
    --blz-lighter: #ffffffFF;
    --blz-bgup: #009688FF;
    --blz-bgdown: #dcdbd3FF;
    --blz-text: #d5f9baFF;
    --blz-dark: #111a1eFF;
    --blz-news: #8edafcFF;
    --blz-grey: #b2b6bbFF;
}

/*#endregion common*/



/*#region debug*/
.debug {
    
}

.debug .site-main{
    height: 800px;
}

.debug .col-30{
    background-color: aqua;
}

.debug .col-70{
   background-color: greenyellow; 
}

.debug .news{
    background-color: var(--blz-news);
    height: 5rem;
}


.debug .search-bar{
    height: 5rem;
    background-color: lightcoral;
}

.debug .chat{
    background-color: seagreen;
    height: 5rem;
}

.debug .content-text{
    height: 10rem;
    width: 20rem;
}


/*#endregion debug*/



/*#region utility*/

.site-main{
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.container{
    padding: 4rem;
    position: relative;
}

.content-text{
    width: 10rem; 
    background-color: var(--blz-lighter);
}


.right{
    position: absolute;
    right: 4rem;
}


.col-30{
    width: 30%;
}

.col-70{
    width: 70%;
}

.site-header{
    height: 10vh;
    background-color: var(--blz-chat);
}

.chat-box{
    height: 60vh;
    overflow: scroll;
}

.text-box{
    height: 10vh;
    background-color: var(--blz-chat);
}

.container{
    height: 82vh;
}

/*#endregion utility*/